#loginWord {
  color: white; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footerHome {
  background-color: black;
  color: #f0cd00;
  margin: 0px auto;
  padding: 20px 0px; }

.footerAbout {
  background-color: black;
  color: #f04600;
  margin: 0px auto;
  padding: 20px 0px; }

.footerContact {
  background-color: black;
  color: #48ff00;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotronHome {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: black;
  color: #f0cd00; }

.jumbotronAbout {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: black;
  color: #f04600; }

.jumbotronContact {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: black;
  color: #48ff00; }

.addressHome {
  font-size: 80%;
  margin: 0px;
  color: #f0cd00; }

.addressAbout {
  font-size: 80%;
  margin: 0px;
  color: #f0cd00; }

.addressContact {
  font-size: 80%;
  margin: 0px;
  color: #f0cd00; }

body {
  background-color: white;
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: black; }

.tab-content {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px; }

.carousel {
  background: black; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  color: black;
  background-color: #f0cd00; }

.modal-header {
  background-color: #f0cd00; }

.modal-body {
  background-color: white; }

.card {
  background-color: white; }
